## Live Twitter API

In [ ]:
import re
import base64
import requests
import pandas as pd
import numpy as np
import requests as response
import base64

In [78]:
# Authenticate to Twitter
#auth = tweepy.OAuthHandler("", "")
#auth.set_access_token("", "")

# Create API object
#api = tweepy.API(auth)

In [79]:
client_key = ''
client_secret = ''

key_secret = '{}:{}'.format(client_key, client_secret).encode('ascii')
b64_encoded_key = base64.b64encode(key_secret)
b64_encoded_key = b64_encoded_key.decode('ascii')

In [80]:
base_url = 'https://api.twitter.com/'
auth_url = '{}oauth2/token'.format(base_url)
auth_headers = {
    'Authorization': 'Basic {}'.format(b64_encoded_key),
    'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
}

auth_data = {
    'grant_type': 'client_credentials'
}

auth_resp = requests.post(auth_url, headers=auth_headers, data=auth_data)

In [81]:
auth_resp.status_code

200

In [82]:
auth_resp.json().keys()

dict_keys(['token_type', 'access_token'])

In [83]:
access_token = auth_resp.json()['access_token']

In [84]:
maxTweets = 200

search_headers = {
    'Authorization': 'Bearer {}'.format(access_token)    
}

params = {
    'q': '(bitcoin OR XRP OR COVID)',
    'tweet_mode': 'extended',
    'lang': 'en',
    'count': 'maxTweets'
}

search_url = '{}1.1/search/tweets.json'.format(base_url)

response = requests.get(search_url, headers=search_headers, params=params)

In [85]:
response.status_code

200

In [86]:
df = pd.DataFrame()
for tweet in response.json()['statuses']:
    row = get_data(tweet)
    df = df.append(row, ignore_index=True)

In [87]:
tweets = df
tweets.describe()

,created_at,id,text
count,15,15,15
unique,2,15,15
top,Tue Dec 22 12:08:34 +0000 2020,1341354942410342405,Hi @marenaltman I was just thinking if you wou...
freq,10,1,1

In [88]:
tweets

,created_at,id,text
0,Tue Dec 22 12:08:34 +0000 2020,1341354945250004992,RT @askmecryptos: $GRT is bouncing the hardest...
1,Tue Dec 22 12:08:34 +0000 2020,1341354944834777088,Hi @marenaltman I was just thinking if you wou...
2,Tue Dec 22 12:08:34 +0000 2020,1341354944310480897,RT @crvxxxvt: @daanegro I’m so happy for. She’...
3,Tue Dec 22 12:08:34 +0000 2020,1341354943555448834,@lucyLBM2020 Oooh that doesn’t sound good. Ple...
4,Tue Dec 22 12:08:34 +0000 2020,1341354943236730881,@CDCgov Add your phone to the COVID fight! Dow...
5,Tue Dec 22 12:08:34 +0000 2020,1341354943224160256,"@modernbasebll Also, why didn't schools get fu..."
6,Tue Dec 22 12:08:34 +0000 2020,1341354943056404480,RT @BarackObama: With COVID cases surging wors...
7,Tue Dec 22 12:08:34 +0000 2020,1341354942410342405,France Rewards Frontline COVID-19 Workers With...
8,Tue Dec 22 12:08:34 +0000 2020,1341354942100062210,"RT @donwinslow: In this new aid deal, Employer..."
9,Tue Dec 22 12:08:34 +0000 2020,1341354942037192707,RT @biyibjorn: Apostle Suleman just collected ...
10,Tue Dec 22 12:08:33 +0000 2020,1341354941747630083,"Fired COVID scientist sues Florida over ""sham""..."
11,Tue Dec 22 12:08:33 +0000 2020,1341354941621940224,All those men in cramped space with no washing...
12,Tue Dec 22 12:08:33 +0000 2020,1341354941420457986,Ned should resign! Thousands in CT to get COVI...
13,Tue Dec 22 12:08:33 +0000 2020,1341354940653068290,RT @kylegriffin1: Mitch McConnell successfully...
14,Tue Dec 22 12:08:33 +0000 2020,1341354940480978944,Ned should resign! 12th Inmate Dies from COVID...